@import "colors";

.main-content {
  background-color: $red;
  display: flex;
  flex-basis: 95.278%;
  flex-direction: row;
  padding: 2rem 4.5rem 2.5rem;

  &--behance {
    background-color: $behance-white;
  }

  &--dribbble {
    background-color: $dribbble-pink;
  }

  &--github {
    background-color: $github-white;
  }

  &--cerveza {
    background-color: $cerveza-crema;
  }

  &--spotify {
    background-color: $spotify-black;
  }
}