// Custom Sass imports
@import './utils/colors';

// Tailwind Imports
@import './tailwind/base.css';
@import './tailwind/components.css';
@import './tailwind/utilities.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Signika Negative', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  
  &.page--selected {
    background-color: $orange;
    border-radius: .5rem;
  }
}

* {
  box-sizing: border-box;
}
