.aspot-carousel {
    position: absolute;
    top: 35%;
    right: -10%;
    width: 60%;
    overflow: hidden;

    &--container {
        position: relative;
    }

    &--images {
        position: absolute;
        top: 5%;
        left: 12%;
    }
    
    img {
        width: 100%;
    }
}