.aspot-carousel {
    display: none;

    @include media('md') {
        display: block;
        width: 100%;
        max-width: 620px;
        overflow: hidden;
        margin: 0 auto;
    }

    @include media('lg') {
        position: fixed;
        top: 30%;
        right: -30%;
        max-width: 760px;
    }

    @include media('xl') {
        right: -10%;
    }

    @include media('xxl') {
        top: 33%;
        right: 11.294%;
    }

    &--container {
        position: relative;
    }

    &--images {
        position: absolute;
        max-width: 470px;
        top: 5.125%;
        left: 12%;

        @include media('lg') {
            max-width: 100%;
        }
        
    }
    
    img {
        width: 100%;
    }
}

// Bootstrap override on A-spot carousel
.aspot-carousel {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-item-next, .active.carousel-item-right {
        -webkit-transform: translate3d(0, +100%, 0);
        transform: translate3d(0, +100%, 0);
    }
    .carousel-item-prev, .active.carousel-item-left {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}