.footer {
	background-color: $red;
	padding: 1em 0 .5em;

	@include media('md') {
		padding: 2em 0 1em;
	}

	h3 {
		text-align: center;

		@include media('md') {
			text-align: left;
		}
	}
}

.footer-nav {
	display: none;

	@include media('md') {
		display: block;
	}

	.nav-item:last-child .nav-link{
		padding-right: 0;
	}

	.nav-link {
		text-decoration: none;
	}
}

.signoff {
	padding: 1.5em 0 .5em;
	
	div:first-child {
		text-align: center;
		@include media('md') {
			text-align: left;
		}
	}

	div:last-child {
		text-align: center;

		@include media('md') {
			text-align: right;
		}

	}
}