// ===================================================================
//	Variables
// ===================================================================

// Branding Colors
$brown: #4f2c1f;
$charcoal: #323232;
$grey: #efefef;
$orange: #f5a800;
$red: #d54935;

// UI Styles
$shadow: 0 0 25px rgba(79, 44, 31, .4);
$work-shadow: 0 0 20px rgba(219, 219,219, 1);

// Media Query Breaks Points
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1640px;