.casestudy {

    &-aspot {
        position: relative;
        margin-top: 3em;
        margin-bottom: 4em;

        .disclaimer {
            opacity: 0;
            transform: translateY(50px);
            transition: all .25s ease-in;
            background-color: $red;
            width: 100vw;
            padding: 1em 0;
            text-align: center;
            font-size: .875em;
            font-weight: 600;
            position: fixed;
            bottom: 0;
            left: 0;
            color: $grey;
            z-index: 999;

            &-show {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &--carousel {
        background-color: #e4e4e4;
        height: auto;
        overflow: hidden;
    }

    &--container {
        margin-top: 5em;
        margin-bottom: 5em;

        &.container-fluid {
            padding: 0;
        }

        & .row {
            margin-top: 2.5em;
            margin-bottom: 2.5em;
        }
    }

    &--img {

        img {
            box-shadow: $work-shadow;
            width: 100%;
            border-radius: 5px;
        }

        figcaption p {
            text-align: center;
            font-weight: bold;
        }
    }

    &--number {
        text-align: right;
        color: $red;
    }

    &-pagination {
        margin-bottom: 4em;

        &--next {
            float:right;
        }
    }
}

.otherwork {

    &-aspot {
        padding-top: 3em;
        text-align: center;
    }

    &--container {
        margin-top: .5em;
        margin-bottom: 5em;

        .ux-ui div + div {
            margin-top: 5em;
        }
    }

    &--img {
        margin-top: 2.5em;

        img {
            box-shadow: $work-shadow;
        }
    }

    figcaption p {
        text-align: center;
        font-weight: bold;
        color: $red;
        margin-bottom: 1em;
    }

}

.typography {
    display: flex;
    flex-direction: column;

    &--items {
        padding: 2.5em 0;
    }
}

.color {
    @include colors($lcti);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;

    &--cell {
        display: flex;
        flex: 1 1 50%;
        align-self: stretch;
        align-content: center;
        color: #fff;

        p {
            margin: 0 auto;
            align-self: center;
            text-align: center;
        }
    }
}